{% extends "base.html" %}
{% block Content %}
<br><br><br><br> 
<pre>
                                <button class="button" type="button" tabindex="0" role="tab" aria-selected="true" href="/home" align="left"><b><a type="button" href="/home" aria-selected="true"  style="color:black;text-shadow:0.75px 0.75px gray; font-family: 'Montserrat', sans-serif;"><h2>Let's get started</h2></a></b></button>
</pre>
<br><br>
<b><h2 style="color:black;text-shadow:0.75px 0.75px gray; font-family: 'Montserrat', sans-serif;" ><pre>
    
    Object detection is a computer vision technique for locating 
    instances of objects in images or videos. Object detection 
    algorithms typically leverage machine learning or deep learning 
    to produce meaningful results. </pre></h2></b>


{% endblock %}